.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundImage {
  background-image: url('./Images/sbc.png') ;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.rs-nav-item-content, .rs-icon, .rs-btn-subtle, .rs-dropdown-item-content {
  color: white !important;
}

.rs-sidenav-subtle {
  background-color: transparent !important;
}

.rs-sidebar {
  height: -webkit-fill-available;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.rs-sidenav-body a {
  opacity: 0.3;
}

.rs-sidenav-body a.active {
  opacity: 1;
  color: white !important;
}

.scrolldown a:before {
  position: absolute;
  content: "";
  bottom: 54px;
  right: 0;
  height: 4px;
  width: 4px;
  margin-right: 16px;
  border-radius: 40px;
  background: white;
  transition: 0.3s;
}

.scrolldown a:after {
  position: absolute;
  content: "";
  bottom: 30px;
  right: 0;
  height: 34px;
  width: 18px;
  margin-right: 9px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  transition: 0.3s;
}

.scrolldown a:hover:before {
  bottom: 38px;
  background: #ffffff;
}

.PaginationActive {
  background: white !important;
}